[submodule "morphologica"]
	path = morphologica
	url = https://github.com/ABRG-Models/morphologica.git
[submodule "ArduinoSerialIO"]
	path = ArduinoSerialIO
	url = https://github.com/LJ3D/ArduinoSerialIO.git
